.scrollbar {
    scrollbar-color: var(--scroll-thumb) var(--scroll-background);
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

@media (min-width: 992px) {
    .scrollbar::-webkit-scrollbar {
        width: 11px;
    }
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--scroll-background);
    margin: 4.4rem 0rem 0rem 0rem;
}

@media (min-width: 992px) {
    .scrollbar::-webkit-scrollbar-track {
        margin: 5.05rem 0rem 0rem 0rem;
    }
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}

.scrollbar::-webkit-scrollbar-thumb:active {
    background: var(--scroll-thumb-active);
}

.casino .banners {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    min-height: 136px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 458/191;
    background-color: var(--bg-color, transparent);
}

.banner-image {
    width: 100%;
    height: 100%;
}

.banners-paging {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banners-paging-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 14px;
    cursor: pointer;
}

.banner-live-logo-gif {
    position: absolute !important;
    top: 15px;
    right: 15px;
    max-width: 70px !important;
    max-height: 24px !important;
}

.banners-paging-leftarrow,
.banners-paging-rightarrow {
    display: inline-block;
    opacity: 0.5;
    margin: 0 14px;
    cursor: pointer;
}

.banners-paging-dot,
.banners-paging-leftarrow,
.banners-paging-rightarrow {
    transition: opacity 0.4s;
}

.banners-paging-dot:hover,
.banners-paging-leftarrow:hover,
.banners-paging-rightarrow:hover {
    opacity: 0.8;
}

.banners-paging-dot:active,
.banners-paging-leftarrow:active,
.banners-paging-rightarrow:active {
    opacity: 1;
}

.banners-paging-dot.is-active,
.banners-paging-leftarrow.is-active,
.banners-paging-rightarrow.is-active {
    opacity: 1;
    height: 0.8rem;
    width: 0.8rem;
}

.banners-emptybanner {
    width: 100%;
    max-height: 382px;
    aspect-ratio: 458/191;
}

app-tv-banner-timer {
    position: relative;
    margin-top: 8px;
}

.section-title,
.pg-content-container,
.pg-paginator-container,
.pg-header-container {
    width: 100%;
}

@media (max-width: 700px) {
    .pg-header-container {
        margin-top: 65px;
    }
}

.pg-content-container {
    display: flex;
    justify-content: center;
}

.pg-paginator-container {
    display: block;
    justify-content: center;
    padding: 2rem 0.3rem 1rem 0.3rem;
    text-align: center;
}

.pg-button {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #8b8c90;
    background-color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin: 7px;
}

.pg-button:not(:disabled):not(.active) {
    cursor: pointer;
}

.pg-button:not(:disabled).active,
.pg-button:not(:disabled):hover {
    background-color: #f78426;
    border: 1px solid #f78426;
    color: #fff;
}

.pg-button:disabled {
    opacity: 0.5;
}

.pg-button[dark-mode=true] {
    border: 1px solid #c0c1c5;
    background-color: #1d1e27;
    color: #f9f9f9;
}

.pg-button[dark-mode=true]:not(:disabled).active,
.pg-button[dark-mode=true]:not(:disabled):hover {
    background-color: #f78426;
    border: 1px solid #f78426;
    color: #fff;
}

.pg-button[dark-mode=true]:disabled {
    opacity: 0.5;
}

.pg-icon {
    padding-top: 0.1rem;
}

.pg-icon[dark-mode=true] {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(205%) contrast(95%);
}

.section-title {
    margin: 1.5rem 0rem;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}

.section-title[dark-mode=true] {
    color: var(--main-bg-color);
}

.section-title.slots {
    background-image: url('../assets/svg/777.svg');
    background-position: left 6px center;
    background-repeat: no-repeat;
    padding-left: 50px;
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #f78426;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: _ngcontent-wbc-c44_lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: _ngcontent-wbc-c44_lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: _ngcontent-wbc-c44_lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: _ngcontent-wbc-c44_lds-ellipsis3 0.6s infinite;
}

@keyframes _ngcontent-wbc-c44_lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes _ngcontent-wbc-c44_lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes _ngcontent-wbc-c44_lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.white-background {
    background-color: var(--white-shimmer-background-color);
    background-image: var(--white-shimmer-background-image);
}

[data-type=regular] {
    width: 100%;
    height: 100%;
}

[data-type=box] {
    aspect-ratio: 1/1;
    border-radius: 10px;
}

[data-type=rect] {
    width: 100%;
    height: 12px;
}

[data-type=round-rect] {
    width: 100%;
    min-height: 12px;
    border-radius: 10px;
}

.slots-template-container {
    padding: 1rem;
}

.slots-general-container,
.slots-featured-container {
    position: relative;
    display: block;
}

.slots-banners {
    width: 100%;
}

@media (min-width: 992px) {
    .slots-banners {
        width: 94%;
    }
}

@media (min-width: 1200px) {
    .slots-banners {
        width: 65%;
    }
}

@media (min-width: 1400px) {
    .slots-banners {
        width: 47%;
    }
}

.banner-section {
    display: block;
    width: 100%;
}

@media (min-width: 992px) {
    .banner-section {
        display: flex;
    }
}

.slots-game-container {
    position: relative;
    display: inline-flex;
    margin: 0 0.5rem 1rem 0.5rem;
}

@media (min-width: 992px) {
    .slots-game-container {
        margin: 0 1rem 1rem 1rem;
    }
}

.slots-filter-selector.right {
    width: 100%;
    float: right;
}

@media (min-width: 1200px) {
    .slots-filter-selector.right {
        padding-left: 2.5rem;
        width: auto;
    }
}

.slots-filter-selector.left {
    width: 100%;
    float: left;
}

@media (min-width: 1200px) {
    .slots-filter-selector.left {
        padding-right: 2.5rem;
        width: auto;
    }
}

.slots-featured-container {
    width: 100%;
    padding-top: 2rem;
}

@media (min-width: 992px) {
    .slots-featured-container {
        width: 50%;
        padding-left: 1.5rem;
        padding-top: 0rem;
    }
}

@media (min-width: 1200px) {
    .slots-featured-container {
        width: 36%;
    }
}

@media (min-width: 1400px) {
    .slots-featured-container {
        width: 53%;
    }
}

.slots-featured-container ul {
    margin: 0 -12px;
    padding: 0;
    display: block;
    overflow: hidden;
}

.slots-featured-container ul li {
    float: left;
    position: relative;
    padding: 0 12px;
    margin: 0 0 0 0;
    width: 50%;
    display: inline;
}

.slots-featured-container ul li:nth-child(1),
.slots-featured-container ul li:nth-child(2) {
    margin-bottom: 15px;
}

.slots-featured-container ul li:nth-child(5),
.slots-featured-container ul li:nth-child(6),
.slots-featured-container ul li:nth-child(7),
.slots-featured-container ul li:nth-child(8) {
    display: none;
}

@media (min-width: 1400px) {
    .slots-featured-container ul li {
        margin: 0 0 15px 0;
        width: 25%;
    }

    .slots-featured-container ul li:nth-child(5),
    .slots-featured-container ul li:nth-child(6),
    .slots-featured-container ul li:nth-child(7),
    .slots-featured-container ul li:nth-child(8) {
        display: inline;
        margin-bottom: 0;
    }
}

.slots-general-container {
    width: 100%;
}

.slots-general-container ul {
    margin: 0 -12px;
    padding: 0;
    display: block;
    overflow: hidden;
}

.slots-general-container ul li {
    position: relative;
    padding: 0 12px;
    margin: 0 0 1.25rem;
    width: 50%;
    display: inline-block;
}

@media (min-width: 992px) {
    .slots-general-container ul li {
        width: 20%;
    }
}

@media (min-width: 1400px) {
    .slots-general-container ul li {
        width: 19, 992%;
    }
}

.slots-filter-menu-mobile {
    display: flex;
    float: right;
    height: 32px;
    padding: 0 14px 0 43px;
    font-size: 14px;
    border-radius: 20px;
    background-image: url('sort-icon.d5c8e77555b494fd.svg');
    background-position: left 15px center;
    background-repeat: no-repeat;
    margin-bottom: 1.5rem;
    margin-top: -52px;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    color: #5a5b5f;
}

.slots-filter-menu-mobile span {
    padding-top: 0.2rem;
}

@media (min-width: 1200px) {
    .slots-filter-menu-mobile {
        display: none;
    }
}

.slots-filter-menu-mobile[dark-mode=true] {
    background-color: #1d1e27;
    color: #ececec;
}

.slots-filter-list {
    height: auto;
    clear: both;
    overflow: hidden;
    max-height: 0;
}

.slots-filter-list[open=true] {
    max-height: 1000px;
}

@media (min-width: 1200px) {
    .slots-filter-list {
        height: 37px;
        max-height: 1000px;
        margin-bottom: 1.5rem;
    }
}

.slots-filter-actions-mobile {
    display: block;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
    float: left;
    width: 100%;
}

@media (min-width: 1200px) {
    .slots-filter-actions-mobile {
        display: none;
    }
}

.slots-filter-button {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 16px;
    border-radius: 40px;
    width: 100px;
    cursor: pointer;
}

.slots-filter-button.white-and-red {
    background-color: #fff;
    border: 1px solid #ff0033;
    color: #ff0033;
}

.slots-filter-button.orange {
    background-color: #f78426;
    border: 1px solid #f78426;
    color: #fff;
}

.slots-empty-search {
    font-size: 15px;
    font-weight: 700;
    margin: 1rem 0 0 0;
    color: #333333;
    text-align: center;
    margin: 5rem 0;
}

.slots-empty-search[dark-mode=true] {
    color: #f9f9f9;
}

@media (max-width: 700px) {
    .slots-filter-menu-mobile {
        float: left;
    }
}